@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-default text-default
  }

  button{
    @apply focus:ring-0 focus:outline-0
  }

  p {
    @apply leading-relaxed
  }

  section {
    @apply py-20 lg:py-32;
  }
  section:first-of-type {
    @apply pb-10 pt-20 lg:pb-20 lg:pt-40;
  }
  section:last-of-type {
    @apply pt-10 pb-20 lg:pt-20 lg:pb-40;
  }

}
@layer utilities {
  .bg-default {
    @apply bg-black
  }

  .text-default {
    @apply text-neutral-50
  }

  .title, .title-1 {
    @apply relative font-serif text-5xl md:text-6xl;
  }

  .title-2 {
    @apply relative font-serif text-3xl;
  }

  .subtitle, .subtitle-1 {
    @apply text-brand font-semibold uppercase text-xs;
  }

  .subtitle-2 {
    @apply text-brand font-serif capitalize text-sm
  }

  .link, .link-1 {
    @apply text-xs uppercase font-serif
  }

  .border-default {
    @apply border-neutral-200 dark:border-neutral-800
  }

  .rounded-default {
    @apply rounded
  }
}


@layer base {
  @font-face {
    font-family: Area;
    font-weight: 300;
    src: url(../assets/fonts/Area/AreaNormalTrial-Light.otf) format('opentype');
  }

  @font-face {
    font-family: Area;
    font-weight: 400;
    src: url(../assets/fonts/Area/AreaNormalTrial-Regular.otf) format('opentype');
  }

  @font-face {
    font-family: Area;
    font-weight: 600;
    src: url(../assets/fonts/Area/AreaNormalTrial-Semibold.otf) format('opentype');
  }

  @font-face {
    font-family: Area;
    font-weight: 800;
    src: url(../assets/fonts/Area/AreaNormalTrial-Bold.otf) format('opentype');
  }
}
