@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  body {
    @apply bg-black text-neutral-50
  }

  button{
    @apply focus:ring-0 focus:outline-0
  }

  p {
    @apply leading-relaxed
  }

  section {
    @apply py-40;
  }

}
@layer utilities {
  .text-title, .text-title-1 {
    @apply relative text-4xl lg:text-6xl leading-normal lg:leading-tight;
  }

  .text-title-2 {
    @apply relative text-5xl lg:text-7xl leading-normal lg:leading-tight;
  }

  .text-title-3{
    @apply relative text-2xl lg:text-3xl leading-normal lg:leading-tight;
  }

  .text-description, .text-description-1 {
    @apply text-base lg:text-lg leading-loose lg:leading-loose
  }

  .text-description-2 {
    @apply text-sm leading-loose lg:leading-loose
  }


  .link, .link-1 {
    @apply relative leading-loose inline-flex opacity-90 hover:opacity-100 after:block after:absolute after:bottom-px after:left-0 after:w-0 after:h-px after:bg-yellow hover:after:w-full duration-300 after:duration-300 transition
  }

  .link-2 {
    @apply relative leading-loose inline-flex text-yellow/90 hover:text-white duration-300 transition
  }

  .border-default {
    @apply border-neutral-200 dark:border-neutral-800
  }

  .rounded-default {
    @apply rounded
  }

  .container-default {
    @apply container w-full mx-auto px-8 lg:px-16
  }
}


@layer base {
  @font-face {
    font-family: Area;
    font-weight: 300;
    src: url(../assets/fonts/Area/AreaNormalTrial-Light.otf) format('opentype');
  }

  @font-face {
    font-family: Area;
    font-weight: 400;
    src: url(../assets/fonts/Area/AreaNormalTrial-Regular.otf) format('opentype');
  }

  @font-face {
    font-family: Area;
    font-weight: 600;
    src: url(../assets/fonts/Area/AreaNormalTrial-Semibold.otf) format('opentype');
  }

  @font-face {
    font-family: Area;
    font-weight: 800;
    src: url(../assets/fonts/Area/AreaNormalTrial-Bold.otf) format('opentype');
  }
}
